<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload and Summarization</h1>
    <form action="/summarize" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file" accept=".pdf, .txt">
        <br>
        <input type="submit" value="Upload and Summarize">
        
    </form>    
</body>
</html>

